<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com/blackberry/mybatis/blackberryMapper.xml">
	<!-- ProductDAO -->
	<select id="bestView" resultType="com.blackberry.dto.ProductDTO">
		<![CDATA[
			SELECT * FROM (SELECT * FROM bbproduct 
	                       ORDER BY p_goodcnt DESC)
			WHERE ROWNUM <=6
		]]>	
	</select>
	
	<select id="newView" resultType="com.blackberry.dto.ProductDTO">
		<![CDATA[
			SELECT * FROM (SELECT * FROM bbproduct
						   ORDER BY p_indate DESC)
			WHERE ROWNUM <=4
		]]>	
	</select>
	
	<!-- ==========================================  -->
	<!-- MemberDAO -->
	<insert id="memInsert" parameterType="com.blackberry.dto.MemberDTO">
		INSERT INTO member2(id, pw, name, phone, email, zipcode, addr1, addr2)
		VALUES(#{id}, #{pw}, #{name}, #{phone}, #{email}, #{zipcode}, #{addr1}, #{addr2})
	</insert>
	
	<select id="confirmID" parameterType="String" resultType="String">
		SELECT id FROM member2
		WHERE id = #{id} 
	</select>
	
	<select id="confirmPW" parameterType="com.blackberry.dto.MemberDTO" resultType="String">
		SELECT id FROM member2
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<select id="LoginCheck" parameterType="com.blackberry.dto.MemberDTO" resultType="com.blackberry.dto.MemberDTO">
		SELECT * FROM member2 
		WHERE id = #{id} AND pw = #{pw}
	</select>
	
	<update id="memUpdate" parameterType="com.blackberry.dto.MemberDTO">
		UPDATE member2 SET
		name = #{name},
		phone = #{phone},
		email = #{email},
		zipcode = #{zipcode},
		addr1 = #{addr1},
		addr2 = #{addr2}
		WHERE id = #{id}
	</update>
	
	<update id="pwUpdate" parameterType="com.blackberry.dto.MemberDTO">
		UPDATE member2 SET
		pw = #{pw}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteMember" parameterType="String">
		DELETE FROM member2
		WHERE id = #{id}
	</delete>
	<!-- ==========================================  -->
	<!-- BoardDAO -->	
	<select id="countPaging" resultType="int">
		<![CDATA[
			SELECT count(bno) FROM bb_board WHERE bno > 0
		]]>
		<if test='flag=="1"'>
	    	<![CDATA[AND title LIKE '%'||#{keyword}||'%' ]]>
	    </if>
	    <if test='flag=="2"'>
	        <![CDATA[AND content LIKE '%'||#{keyword}||'%' ]]>
	    </if>
	    <if test='flag=="3"'>
	        <![CDATA[AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
	    </if>
	    <if test='flag=="4"'>
	        <![CDATA[AND writer LIKE '%'||#{keyword}||'%' ]]>
	    </if>	
	</select>
	
	<select id="boardList" resultType="com.blackberry.dto.BoardDTO">
		<![CDATA[
			SELECT * FROM (SELECT rownum rnum,
	                a.*
	                FROM ( SELECT * FROM bb_board
	                       WHERE bno > 0     ]]>
	                       
	                       <if test='flag=="1"'>
	                       		<![CDATA[ AND title LIKE '%'||#{keyword}||'%' ]]>
	                       </if>
	                       <if test='flag=="2"'>
	                       		<![CDATA[ AND content LIKE '%'||#{keyword}||'%' ]]>
	                       </if>
	                       <if test='flag=="3"'>
	                       		<![CDATA[ AND title LIKE '%'||#{keyword}||'%' OR content LIKE '%'||#{keyword}||'%']]>
	                       </if>
	                       <if test='flag=="4"'>
	                       		<![CDATA[ AND writer LIKE '%'||#{keyword}||'%' ]]>
	                       </if>
	                       
	     <![CDATA[                  
	                       ORDER BY bno DESC
	                       )a
	                )       
			WHERE rnum BETWEEN #{pageStart} AND #{perPageNum}
		]]>
	</select>
	
	<select id="boardDetailView" resultType="com.blackberry.dto.BoardDTO">
		SELECT * FROM bb_board WHERE bno = #{bno}
	</select>
	
	<update id="viewCnt">
		UPDATE bb_board 
			SET viewcnt = viewcnt + 1
			WHERE bno = #{bno}
	</update>

	<insert id="boardInsert" parameterType="com.blackberry.dto.BoardDTO">
		<choose>
			<when test="content != null">
			INSERT INTO bb_board(bno, title, content, writer, filename, filesize)
			VALUES(seq_bb_board.NEXTVAL, #{title}, #{content}, #{writer}, #{filename}, #{filesize})
			</when>
			<otherwise>
			INSERT INTO bb_board(bno, title, writer, filename, filesize)
			VALUES(seq_bb_board.NEXTVAL, #{title}, #{writer}, #{filename}, #{filesize})
			</otherwise>
		</choose>
	</insert>

</mapper>

